<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mic.match">

    <application>
        <activity android:name=".MatchPixelActivity"/>
        <activity android:name=".MatchDisplayCutoutActivity"/>
        <activity android:name=".MatchDensityActivity"/>
        <activity android:name=".MatchPercentActivity"/>
    </application>

</manifest>