<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mic"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.mic.PlayerApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/XAppTheme">
        <activity android:name="com.mic.MainActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mic.training.activity.view.AllViewActivity" />
        <activity android:name="com.mic.training.activity.view.ViewItemActivity" />
        <activity android:name="com.mic.training.activity.view.ViewPagerActivity" />
        <activity android:name="com.mic.training.activity.view.ViewDrawFlowActivity" />
        <activity android:name="com.mic.training.activity.view.NestedActivity" />
        <activity android:name="com.mic.training.activity.view.SwipeActivity" />
        <activity android:name="com.mic.training.activity.view.StatusBarActivity" />
        <activity android:name="com.mic.training.activity.view.MyScrollViewActivity" />
        <activity android:name="com.mic.training.activity.view.BehaviorActivity" />
        <activity android:name="com.mic.training.activity.opensource.OpenSourceItemActivity" />
        <activity android:name="com.mic.training.activity.opensource.ProxyActivity" />
        <activity android:name="com.mic.training.activity.opensource.GlideActivity" />
        <activity android:name="com.mic.training.activity.opensource.HandleActivity" />
        <activity android:name="com.mic.training.activity.opensource.MainActivity" />
        <activity android:name="com.mic.training.activity.opensource.RxBindingActivity" />
        <activity android:name="com.mic.training.activity.opensource.RxBitmapActivity" />
        <activity android:name="com.mic.training.activity.opensource.RxPermissionsActivity" />
        <activity android:name="com.mic.training.activity.opensource.UpdateUIActivity" />

        <service android:name="com.mic.training.service.MessageService">

            <!--  -->


            <!-- <intent-filter> -->
            <!-- <action android:name="com.mic.xsample.aidl.user"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- </intent-filter> -->

        </service>
    </application>

</manifest>