<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mic.path">


    <application>
        <activity android:name=".PathBezierActivity"/>
        <activity android:name=".PathMeasureActivity"/>
        <activity android:name=".PathMultiBezierActivity"/>
    </application>

</manifest>