<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mic.personal">

    <application>
        <activity android:name=".Personal_MainActivity">
        </activity>
        <activity android:name=".debug.Personal_DebugActivity" />
    </application>

</manifest>