<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mic"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".FimicsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/XAppTheme">

        <!-- android:usesCleartextTraffic="true"  允许明文请求-->

        <!--        这是是QQ快捷登录SDK 里面包含但没用的 apache的类，需要在这里通过uses-library去除掉 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyFullScreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <activity android:name=".detail.FeedDetailActivity"/>
        <activity android:name=".find.FindDetailBehaviorActivity"/>
        <activity android:name=".find.TagFeedListActivity"/>
        <activity android:name=".publish.CaptureActivity"/>
        <activity android:name=".publish.PreviewActivity"/>
        <activity android:name=".tabs.TabPublishActivity"/>
        <activity android:name=".user.login.LoginActivity"/>
        <activity android:name=".user.ProfileActivity"/>
        <activity android:name=".user.UserBehaviorListActivity"/>


        <activity android:name=".home.ViewPagerActivity" />
        <activity android:name=".user.detail.UserDetailNestedActivity" />
        <activity android:name=".sofa.VideoDetailMyScrollViewActivity" />
        <activity android:name=".home.activity.MainActivity" />
        <activity android:name=".home.activity.RxBindingActivity" />
        <activity android:name=".home.activity.RxBitmapActivity" />
        <activity android:name=".home.activity.RxPermissionsActivity" />
        <activity android:name=".home.activity.UpdateUIActivity" />

        <!--demo-->
        <activity android:name=".demo.activity.XfermodesActivity"/>
        <activity android:name=".demo.activity.XfermodeActivity"/>
        <activity android:name=".demo.activity.ColorFilterActivity"/>
        <activity android:name=".demo.activity.ColorFilterViewActivity"/>
        <activity android:name=".demo.activity.CanvasTransformActivity"/>
        <activity android:name=".demo.activity.CanvasSplitActivity"/>
        <activity android:name=".demo.activity.PathBezierActivity"/>
        <activity android:name=".demo.activity.PathMultiBezierActivity"/>
        <activity android:name=".demo.activity.PathMeasureActivity"/>
        <activity android:name=".demo.activity.AnimatorActivity"/>
        <activity android:name=".demo.activity.SplashActivity"
            android:theme="@style/MyFullScreenTheme"/>
        <activity android:name=".demo.activity.MatchDensityActivity"/>
        <activity android:name=".demo.activity.MatchDisplayCutoutActivity"/>
        <activity android:name=".demo.activity.MatchPixelActivity"/>
        <activity android:name=".demo.activity.MatchPercentActivity"/>
        <!--material-->
        <activity android:name=".demo.viewwy.material.BottomNavigationViewActivity"/>
        <activity android:name=".demo.viewwy.material.MaterialMainActivity"/>
        <activity android:name=".demo.viewwy.material.MovieDetailActivity"/>
        <activity android:name=".demo.viewwy.material.FloatTabActivity"/>
        <activity android:name=".demo.viewwy.material.ToolbarActivity"/>
        <activity android:name=".demo.viewwy.material.VipActivity"/>

        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1110426500" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.MessageService">

            <!--  -->


            <!-- <intent-filter> -->
            <!-- <action android:name="com.mic.xsample.aidl.user"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- </intent-filter> -->

        </service>
    </application>

</manifest>