<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mic"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".PlayerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/XAppTheme">

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyFullScreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".home.ViewPagerActivity" />
        <activity android:name=".jetpack.MainJetpackActivity"/>
        <activity android:name=".user.detail.UserDetailNestedActivity" />
        <activity android:name=".video.VideoDetailMyScrollViewActivity" />
        <activity android:name=".news.NewsDetailBehaviorActivity" />
        <activity android:name=".home.activity.MainActivity" />
        <activity android:name=".home.activity.RxBindingActivity" />
        <activity android:name=".home.activity.RxBitmapActivity" />
        <activity android:name=".home.activity.RxPermissionsActivity" />
        <activity android:name=".home.activity.UpdateUIActivity" />

        <service android:name=".service.MessageService">

            <!--  -->


            <!-- <intent-filter> -->
            <!-- <action android:name="com.mic.xsample.aidl.user"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- </intent-filter> -->

        </service>
    </application>

</manifest>