<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mic.all">

    <application>
        <activity android:name=".activity.BigImageActivity"/>
        <activity android:name=".activity.FindDetailBehaviorActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.UpdateUIActivity" />
        <activity android:name=".activity.UserDetailNestedActivity" />
        <activity android:name=".activity.VideoDetailMyScrollViewActivity" />
        <activity android:name=".activity.ViewPagerActivity" />

        <service android:name=".service.MessageService">

            <!--  -->


            <!-- <intent-filter> -->
            <!-- <action android:name="com.mic.xsample.aidl.user"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- </intent-filter> -->

        </service>
    </application>

</manifest>